* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100vw;
}
.search-container {
	max-width: 40%;
	border-radius: 20px;
}

.search-wrapper {
	display: flex;
	justify-content: center;
}

.search-input {
	padding: 10px 20px;
	font-size: 1em;
	border: 2px solid #555;
	border-radius: 20px 0 0 20px;
	outline: none;
	transition: all 0.3s ease;
	background-color: #333;
	color: #eee;
}
.header-width {
	width: 100%;
}
.search-wrapper {
	display: flex;
	border: 1px solid transparent;
}
.search-input:focus {
	border-color: transparent;
}

.search-btn {
	background-color: #555;
	border: none;
	color: #eee;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 0 20px 20px 0;
	cursor: pointer;
	transition: all 0.3s ease;
}

.search-btn:hover {
	background-color: #777;
}
.tab-container {
	max-width: 100%;
	margin: 10px auto;
	overflow: hidden;
	border-radius: 10px;
}
.tab-options {
	display: flex;
	background-color: #555;
	color: #eee;
}
.tab-option {
	flex: 1;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.tab-option:hover {
	background-color: #777;
}
.tab-option.active {
	background-color: #333;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 100%;
}

.top-nav {
	background-color: #333;
	color: #eee;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	font-size: 1.2em;
	font-weight: bold;
}

.nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-links li {
	margin-left: 20px;
}

.nav-links a {
	color: #eee;
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-links a:hover {
	color: #333;
}
